{% extends "base.j2" %}
{% from "macros.j2" import render_post_date with context %}
{% from "macros.j2" import render_post_navigation with context %}
{% set lang = resource.meta.language %}

{% block main -%}
<article class="post">

{### NAVIGATION ###}
{% set root = site.content.node_from_relative_path(lang~'/archive') %}
{% set posts = root.walk_resources_sorted_by_time() %}
{{ render_post_navigation(resource, posts) if posts }}

{### TAGS ###}
{% if resource.meta.tags %}
<div class='post-tags'>
{% for tag in resource.meta.tags %}
    <a class="small"
       href="{{ content_url(resource.meta.language~'/archive/tags/'~tag~'.html') }}">{{ tag }}</a>
{% endfor %}
</div>
{% endif %}

{### TITLE ###}
<h1 class="blog-title">
    <a href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
    </a>
</h1>

{### POST TIME ###}
{{ render_post_date(resource.meta.created) }}

{### POST-CONTENT ###}
<div class="post-content">
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
</div>

{### NAVIGATION, again ###}
{{ render_post_navigation(resource, posts) if posts }}

</article>



{%- endblock %}