<nav class="post_nav">
<a class="backlink" href="{{ content_url(resource.node.url) }}">
   {{ resource.meta.i18n.navback }}
</a>

<a class="prev{{' disabled' if not resource.prev_by_time }}"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
    {{ resource.meta.i18n.navprev }}
</a>

<a class="next{{' disabled' if not resource.next_by_time }}"
    title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
    {{ resource.meta.i18n.navnext }}
</a>
</nav>
<div class="clear-left"></div>