{% extends "base.j2" %}
{% from "macros.j2" import render_post_shortdate with context %}

{% block main %}
<section class="archives">
<h1 class="tag page-title">{{ resource.meta.i18n.tag }}: {{ tag.name }}</h1>
<div class="posts">
{% set active_year = 9999 %}
{% set lang = resource.meta.language %}
{% for resource in walker() -%}
  {% if resource.meta.language == lang%}

    {% set current_year = resource.meta.created.strftime('%Y')|int %}
    {% if current_year < active_year %}
      <h2>{{ current_year }}</h2>
      {% set active_year = current_year %}
    {% endif %}

    <div class="post">
      <a href="{{ content_url(resource.url) }}">
        <h4>{{ resource.meta.title }}</h4>
      </a>

      <div class="tags">
        {% for tag in resource.meta.tags %}
          <a href="{{ content_url(lang~'/archive/tags/'~tag~'.html') }}"
             class="small-left" >{{ tag }}</a>
        {% endfor %}
      </div>

      <hr />
    </div>

  {% endif %}
{%- endfor %}
</ul>
<div class="clear">&nbsp;</div>
</section>
{% endblock %}
