---
extends: base.j2
default_block: main
title: Mapgears labs
description: Home page
---

{% from "macros.j2" import render_excerpt with context %}
<section class="blog_excerpt">
{% set lang = site.content.node_from_relative_path(resource.meta.language) %}
{% set sorted = lang.walk_resources_sorted_by_time() %}

<div class="start">
  Mapgears invites you to see some of its applications and demos in action!
</div>

{% if sorted -%}

<hr />

{% for item in sorted %}
{% if loop.index <= 3 %}
<div class="item">
{{ render_excerpt(item, 'post') }}
</div>

<hr />
{%- endif %}
{% endfor %}
{%- endif %}

<div class="end">
  Explore all other posts by visiting the <a href='{{ content_url("/"~resource.meta.language~"/archive") }}'>{{ resource.meta.i18n.archive }}</a>.
</div>

</section>